.header {
  width: 80%;
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo {
  font-size: 2rem;
  color: #800000;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: #800000;
}

.nav li {
  margin-left: 2.5rem;
  font-size: 1.75rem;
  color: #800000;
}

.nav a {
  text-decoration: none;
  color: #800000;
}

.nav a:active,
.nav a.active {
  background-color: #feb4b4;
  border-radius: 20%;
  width: 8px;
  height: 7.5px;
}

.wide {
  width: 30px;
}


