body {
  margin:2rem;
}

.card {
  width: 300px;
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  margin-top: 50px;
}

.image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.CardTitle {
  padding: 1rem;
}

.Description {
  padding: 0 1rem;
}

.Button {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid red;
  background: transparent;
  border-radius: 100px;
  transition: background 200ms ease-in, color 200ms ease-in;
}
